body{
    background: #FFFBCF;
    
    }
    
#top{
    background:#FFAC7F
    
    }
    
#left{   
    background: #FFDC9F;
    color:#6F3B30;
    float:left;
    width:25%;
    }
    
#right{
    background:#FFDC7F;
    float:right;
    width:10%;
    }
    
#center{
    background:#FFA18F;
    width:65%;
    float:left;
    }
    
#footer{
    background:#FFE2AF;
    clear:both;
    }